//Variable map for colors
$colors: (
    'main1': white,
    'main2': rgb(0, 122, 126),
    'main3': rgb(190, 190, 190)
);

//Variables for grid system - loop in grid.scss
$grid-columns: 12;

$screen-sizes: (
    'md': 768px, //Breakpoint from smartphone to tablette
    'lg': 992px, //Breakpoint from tablette to desktop
    'xl': 1200px //Breakpoint from desktop to large desktop (breakpoints inspired by https://www.mediaevent.de/css/breakpoints.html)
);

//Variable list for font-size
$fontsize: (
    2rem,
    1.6rem,
    1.1rem
);